* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Hanken;
	height: 100vh;
	background-color: hsl(221, 100%, 96%);
}

@font-face {
	src: url("../fonts/HankenGrotesk-VariableFont_wght.ttf");
	font-family: Hanken;
}

.main-container {
	display: flex;
	flex-direction: row;
	background-color: white;
	border-radius: 0 10px 10px 0;
}

.col-left-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: hsl(0, 0%, 100%);
	width: 190px;
	padding: 20px;
	gap: 10px;
	background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	border-radius: 10px;
}

.title-left {
	font-size: 18px;
	color: hsl(241, 100%, 89%);
}

.circle-gradient-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

.cirle-large-number {
	font-size: 36px;
	font-weight: 700;
}

.cirle-small-number {
	color: hsl(241, 100%, 89%);
	font-size: 10px;
}

.great-text {
	font-size: 18px;
}

.statistics-text {
	font-size: 10px;
	text-align: center;
	color: hsl(241, 100%, 89%);
}

.col-right-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 190px;
	padding: 20px 20px;
	background-color: white;
	border-radius: 0 10px 10px 0;
}

.title-right {
	font-weight: 700;
	align-self: flex-start;
	margin: 0 0 20px 0;
}

.items-container {
	display: flex;
	flex-direction: column;
	height: fit-content;
	margin: 0 0 10px 0;
}

.summary-item-row {
	display: flex;
	font-size: 10px;
	padding: 5px;
	width: 100%;
	margin: 0 0 10px 0;
	background-color: hsl(221, 100%, 96%);
	border-radius: 5px;
}

.summary-item-img {
	width: 14px;
	margin: 0 5px 0 0;
}

.reaction-item {
	color: hsl(0, 100%, 67%);
}

.memory-item {
	color: hsl(39, 100%, 56%);
}

.verbal-item {
	color: hsl(166, 100%, 37%);
}

.visual-item {
	color: hsl(234, 85%, 45%);
}

.percentage {
	color: hsl(224, 30%, 27%);
	font-weight: 700;
	margin: 0 0px 0 35px;
}

.hundred {
	color: hsl(241, 100%, 89%);
}

.button {
	color: white;
	font-size: 10px;
	text-align: center;
	width: 100%;
	padding: 7px 0;
	margin: 10px 0 0 0;
	background-color: hsl(224, 30%, 27%);
	border-radius: 40px;
	cursor: pointer;
}

.button:hover {
	background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(234, 85%, 45%));
}

@media (max-width: 375px) {
	.main-container {
	}
	.col-left-div {
	}
	.title-left {
	}
	.circle-gradient-container {
	}
	.cirle-large-number {
	}
	.cirle-small-number {
	}
	.great-text {
	}
	.statistics-text {
	}
	.col-right-div {
	}
	.title-right {
	}
	.items-container {
	}
	.summary-item-row {
	}
	.summary-item-img {
	}
	.reaction-item {
	}
	.memory-item {
	}
	.verbal-item {
	}
	.visual-item {
	}
	.percentage {
	}
	.hundred {
	}
	.button {
	}
}
